/* HeaderComponent's private SCSS styles */

h1 {
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: -apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
  font-size: 1.4rem;
  background-color: black;
  text-shadow: 3px 3px 3px #999999;
  text-align: center;
  & > a {
    color: #fff;
    font-family: Batang;
    letter-spacing: 5px;
  }
}
